/***********************************************************************************************************************
*********** fonts
***********************************************************************************************************************/
@font-face {
  font-family: 'PF AgoraSansPro Light';
  src: url("../source/fonts/pfagorasanspro-light.ttf") format("truetype");
}
@font-face {
  font-family: 'PF AgoraSansPro Regular';
  src: url("../source/fonts/pfagorasanspro-reg.ttf") format("truetype");
}
@font-face {
  font-family: 'PF AgoraSansPro Medium';
  src: url("../source/fonts/pfagorasanspro-medium.ttf") format("truetype");
}
/***********************************************************************************************************************
*********** general styles
***********************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PF AgoraSansPro Light', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}
.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  background: #000 url(../source/images/background.jpg) no-repeat top center;
}
.wrapper-inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
a:hover {
  text-decoration: underline;
}
button:focus,
button:active {
  outline: none;
}
.button {
  display: block;
  font-family: 'PF AgoraSansPro Medium', sans-serif;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  height: 47px;
  border: none;
  cursor: pointer;
  padding: 0 25px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.button img {
  display: block;
  width: calc(100% + 25px);
  height: auto;
  position: absolute;
  left: -10px;
  top: -5px;
  right: -10px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.button:hover img {
  opacity: .8;
}
.button span {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  position: relative;
  z-index: 1;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
p {
  line-height: 1.6;
}
input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea::-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:-ms-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}
section {
  display: block;
  padding: 50px 0;
}
h1 {
  font-size: 46px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}
h2 {
  text-align: center;
  font-size: 39px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
.custom-select {
  display: block;
}
.custom-select .current-value {
  cursor: pointer;
}
.custom-select ul {
  display: none;
}
.custom-select.active ul {
  display: block;
}
.location-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  padding-left: 60px;
}
.location-phone .background-map {
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.location-phone img {
  display: block;
  height: 100%;
  width: auto;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  margin-left: -10px;
}
@media (max-width: 980px) {
  .location-phone {
    padding-left: 15px;
  }
}
.link-phone {
  display: block;
  margin-right: 60px;
  position: relative;
  z-index: 1;
}
.link-phone a {
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  font-size: 22px;
  color: #000;
  white-space: nowrap;
}
@media (max-width: 980px) {
  .link-phone {
    margin-right: 35px;
  }
  .link-phone a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .link-phone {
    margin: 35px 0 0 0;
  }
  .link-phone a {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .link-phone a {
    font-size: 13px;
  }
}
.select-city {
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.select-city:before {
  content: '';
  display: block;
  width: 22px;
  height: 29px;
  background: url(../source/images/icon-geo.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  left: -30px;
  top: -5px;
}
@media (max-width: 980px) {
  .select-city:before {
    width: 15px;
    height: 20px;
    top: -3px;
    left: -20px;
  }
}
.select-city .current-value {
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  font-size: 18px;
  color: #000;
  line-height: 1;
  position: relative;
  padding-right: 20px;
}
.select-city .current-value:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 8px;
  right: 0;
}
.select-city .current-value:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 2px solid #c8d4e2;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 8px;
  right: 3px;
}
@media (max-width: 980px) {
  .select-city .current-value {
    font-size: 14px;
    padding-right: 17px;
  }
  .select-city .current-value:before {
    top: 6px;
  }
  .select-city .current-value:after {
    top: 6px;
  }
}
@media (max-width: 480px) {
  .select-city .current-value {
    font-size: 12px;
  }
}
.select-city.active .current-value:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 5px solid #000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 8px;
  right: 0;
}
.select-city.active .current-value:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 2px solid #c8d4e2;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 11px;
  right: 3px;
}
@media (max-width: 980px) {
  .select-city.active .current-value:before {
    top: 5px;
  }
  .select-city.active .current-value:after {
    top: 8px;
  }
}
.select-city.active ul {
  display: block;
  padding: 10px 25px 20px 15px;
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background: #000;
  z-index: 10;
}
.select-city.active ul li {
  display: block;
  text-align: right;
  margin: 10px 0;
  cursor: pointer;
}
.select-city.active ul li span {
  color: #fff;
  white-space: nowrap;
}
.select-city.active ul li a {
  display: none;
}
.select-city.active ul li:hover span,
.select-city.active ul li.active span {
  color: #ff9900;
}
@media (max-width: 768px) {
  .select-city.active ul {
    top: calc(100% + 10px);
  }
}
@media (max-width: 768px) {
  .select-city {
    position: absolute;
    right: 0;
    top: 15px;
  }
}
@media (max-width: 480px) {
  .select-city {
    right: -5px;
  }
}
/***********************************************************************************************************************
*********** header
***********************************************************************************************************************/
header[role='banner'] {
  background: #fff;
}
header[role='banner'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
header[role='banner'] .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 39px;
}
header[role='banner'] .logo img {
  display: block;
  height: 100%;
  width: auto;
  margin-right: 10px;
}
header[role='banner'] .logo span {
  font-family: 'PF AgoraSansPro Medium', sans-serif;
  font-size: 22px;
  color: #000;
}
@media (max-width: 1230px) {
  header[role='banner'] .logo span {
    font-size: 20px;
  }
}
@media (max-width: 980px) {
  header[role='banner'] .logo span {
    font-size: 16px;
    display: block;
    max-width: 230px;
  }
}
@media (max-width: 768px) {
  header[role='banner'] .logo span {
    display: none;
  }
}
header[role='banner'] .header-buttons {
  white-space: nowrap;
}
header[role='banner'] .header-buttons .button {
  display: inline-block;
  margin: 0 5px;
}
@media (max-width: 1230px) {
  header[role='banner'] .header-buttons .button {
    display: block;
    margin: 5px 0;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  header[role='banner'] .header-buttons .button span {
    height: 30px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .header-buttons .button {
    font-size: 9px;
    width: 115px;
  }
}
/***********************************************************************************************************************
*********** top-block
***********************************************************************************************************************/
.top-block .note {
  color: #80daff;
  font-size: 25px;
  line-height: 1;
  text-transform: uppercase;
  margin: 40px 0;
}
.top-block .note span {
  text-shadow: 1px 1px 1px #ffffff;
  color: #0c0c0c;
  font-family: 'PF AgoraSansPro Medium', sans-serif;
  font-size: 25px;
  line-height: 1;
  text-transform: uppercase;
}
.top-block .note span:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 44px;
  background: url(../source/images/icon-time.png) no-repeat 0 0;
  margin: 0 10px 0 15px;
}
@media (max-width: 768px) {
  .top-block .note {
    color: #28689e;
    font-size: 20px;
    margin: 20px 0;
  }
  .top-block .note span {
    display: block;
    font-size: 20px;
  }
  .top-block .note span:before {
    width: 32px;
    height: 30px;
    background: url(../source/images/icon-time.png) no-repeat 0 0;
    background-size: cover;
    margin-left: 0;
  }
}
.top-block .top-data {
  display: inline-block;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.57);
  width: 340px;
  position: relative;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
@media (max-width: 1366px) {
  .top-block .top-data {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .top-block .top-data {
    width: 100%;
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
    margin: 0;
  }
}
.top-block .commission {
  display: inline-block;
  vertical-align: top;
  padding: 0 35px;
  margin: 0 0 0 60px;
  cursor: auto;
}
.top-block .commission span {
  line-height: 47px;
}
.top-block .commission:hover img {
  opacity: 1;
}
@media (max-width: 768px) {
  .top-block .commission {
    display: none;
  }
}
.top-block nav {
  display: block;
  text-align: center;
  margin: 10px 0 30px;
}
.top-block nav a {
  display: inline-block;
  min-width: 50%;
  font-size: 16px;
  color: #fff;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.top-block nav a:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: url(../source/images/sprite-1.png) no-repeat 0 0;
  background-size: cover;
  margin: 20px auto 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}
.top-block nav a:nth-of-type(2):before {
  background-position: -50px 0;
}
.top-block nav a:nth-of-type(3):before {
  background-position: -100px 0;
}
.top-block nav a:nth-of-type(4):before {
  background-position: -150px 0;
}
.top-block nav a:hover {
  text-decoration: none;
}
.top-block nav a:hover:before {
  margin: 25px auto 5px;
}
@media (max-width: 768px) {
  .top-block nav a {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
    opacity: 1;
  }
}
.top-block ul {
  background: rgba(0, 0, 0, 0.87);
  padding: 10px 20px 10px 35px;
}
.top-block ul li {
  display: block;
  color: #fff;
  font-size: 17px;
  margin: 15px 0;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.top-block ul li:nth-of-type(2) {
  padding-left: 6px;
}
.top-block ul li:nth-of-type(3) {
  padding-left: 15px;
}
.top-block ul li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f24535;
  margin: 0 7px 0 0;
}
@media (max-width: 768px) {
  .top-block ul li {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
    text-align: center;
  }
}
/***********************************************************************************************************************
*********** advantages
***********************************************************************************************************************/
.advantages-list {
  text-align: center;
  margin: 40px 0 0 0;
}
.advantages-list .advantages-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  margin: 45px 110px;
}
.advantages-list .advantages-item .text {
  padding: 7px 15px 7px 25px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
.advantages-list .advantages-item .text:first-of-type {
  display: table;
  background: #cc0000;
}
.advantages-list .advantages-item .text:last-of-type {
  display: table;
  background: #0d0d0d;
}
.advantages-list .advantages-item .text span {
  display: inline-block;
  font-size: 17px;
  color: #fff;
  line-height: 1;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.advantages-list .advantages-item:before {
  content: '';
  display: block;
  width: 125px;
  height: 125px;
  background: #fff url(../source/images/sprite-2.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  top: -30px;
  left: -110px;
  z-index: 10;
  border-radius: 50%;
}
.advantages-list .advantages-item:nth-of-type(3),
.advantages-list .advantages-item:nth-of-type(5) {
  margin-right: 0;
}
.advantages-list .advantages-item:nth-of-type(4) {
  margin-right: 60px;
}
.advantages-list .advantages-item:nth-of-type(2):before {
  background-position: -125px 0;
}
.advantages-list .advantages-item:nth-of-type(3):before {
  background-position: -250px 0;
}
.advantages-list .advantages-item:nth-of-type(4):before {
  background-position: -375px 0;
}
.advantages-list .advantages-item:nth-of-type(5):before {
  background-position: -500px 0;
}
.advantages-list .advantages-item:hover:before {
  -webkit-animation-name: advantages-item-hover;
  animation-name: advantages-item-hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@media (max-width: 1230px) {
  .advantages-list .advantages-item {
    margin: 50px 25px 50px 125px;
  }
}
@media (max-width: 768px) {
  .advantages-list .advantages-item {
    display: block;
    margin: 75px 0 75px 125px;
  }
}
@-webkit-keyframes advantages-item-hover {
  12.5% {
    background-position-y: -40px;
  }
  25% {
    background-position-y: 40px;
  }
  37.5% {
    background-position-y: -20px;
  }
  50% {
    background-position-y: 20px;
  }
  62.5% {
    background-position-y: -5px;
  }
  75% {
    background-position-y: 5px;
  }
  87.5% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}
@keyframes advantages-item-hover {
  12.5% {
    background-position-y: -40px;
  }
  25% {
    background-position-y: 40px;
  }
  37.5% {
    background-position-y: -20px;
  }
  50% {
    background-position-y: 20px;
  }
  62.5% {
    background-position-y: -5px;
  }
  75% {
    background-position-y: 5px;
  }
  87.5% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}
/***********************************************************************************************************************
*********** conditions
***********************************************************************************************************************/
.conditions-list-1 {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  counter-reset: list;
}
.conditions-list-1 .conditions-item {
  display: block;
  width: 33.3333%;
  white-space: nowrap;
  margin: 40px 0;
  position: relative;
}
.conditions-list-1 .conditions-item .image-wrap {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border: 7px solid #fff;
}
.conditions-list-1 .conditions-item .image-wrap img {
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.conditions-list-1 .conditions-item .image-wrap:before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: #cb0202;
  position: absolute;
  z-index: 9;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.conditions-list-1 .conditions-item span {
  display: inline-block;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  padding: 20px;
}
.conditions-list-1 .conditions-item:before {
  display: inline-block;
  height: 20px;
  content: counter(list) '';
  counter-increment: list;
  line-height: 1;
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  font-size: 20px;
  color: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 75px;
  z-index: 10;
}
.conditions-list-1 .conditions-item:after {
  content: '';
  display: block;
  width: 31px;
  height: 57px;
  background: url(../source/images/icon-arrow-white.png) no-repeat 0 0;
  position: absolute;
  left: 155px;
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.conditions-list-1 .conditions-item:hover .image-wrap:before {
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.conditions-list-1 .conditions-item:hover:after {
  left: 170px;
}
@media (max-width: 1230px) {
  .conditions-list-1 .conditions-item {
    width: 45%;
    margin-left: 5%;
  }
}
@media (max-width: 980px) {
  .conditions-list-1 .conditions-item .image-wrap {
    width: 110px;
    height: 110px;
    border: 5px solid #fff;
  }
  .conditions-list-1 .conditions-item span {
    padding: 10px 15px;
  }
  .conditions-list-1 .conditions-item:before {
    left: 50px;
  }
  .conditions-list-1 .conditions-item:after {
    left: 145px;
    bottom: -20px;
  }
}
@media (max-width: 360px) {
  .conditions-list-1 .conditions-item {
    width: 47.5%;
    margin-left: 2.5%;
  }
  .conditions-list-1 .conditions-item span {
    padding: 10px;
  }
  .conditions-list-1 .conditions-item:after {
    left: 140px;
  }
}
@media (max-width: 768px) {
  .conditions-list-1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .conditions-list-1 .conditions-item {
    width: 300px;
  }
  .conditions-list-1 .conditions-item span {
    white-space: normal;
    font-size: 15px;
  }
}
.conditions-list-2 {
  margin: 60px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  counter-reset: list 6;
  border: 7px solid #fff;
  position: relative;
}
.conditions-list-2:before {
  content: '';
  display: block;
  height: 35px;
  background: #0a0a0c;
  position: absolute;
  left: 25px;
  right: 80px;
  top: -10px;
}
.conditions-list-2 .conditions-item {
  display: block;
  margin: 50px 50px 0;
  width: 300px;
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 1;
  padding-left: 90px;
  top: -60px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.conditions-list-2 .conditions-item:before {
  content: counter(list) '';
  counter-increment: list;
  color: #292c2f;
  font-size: 100px;
  position: absolute;
  left: 60px;
  top: -25px;
  line-height: 1;
  z-index: -1;
}
.conditions-list-2 .conditions-item:after {
  content: '';
  display: block;
  width: 57px;
  height: 31px;
  background: url(../source/images/icon-arrow-red.png) no-repeat 0 0;
  position: absolute;
  left: 0;
  top: -8px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.conditions-list-2 .conditions-item:hover {
  padding-left: 75px;
}
.conditions-list-2 .conditions-item:hover:after {
  left: 15px;
}
@media (max-width: 1260px) {
  .conditions-list-2 {
    display: block;
    text-align: center;
  }
  .conditions-list-2 .conditions-item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
}
@media (max-width: 980px) {
  .conditions-list-2:before {
    display: none;
  }
  .conditions-list-2 .conditions-item {
    top: 0;
    margin: 25px;
  }
}
@media (max-width: 480px) {
  .conditions-list-2 .conditions-item {
    width: 280px;
    margin: 25px 10px;
  }
}
/***********************************************************************************************************************
*********** you-need
***********************************************************************************************************************/
.you-need {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
.you-need .you-need-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 230px;
  margin: 35px 0 0 0;
  position: relative;
}
.you-need .you-need-list:after {
  content: '';
  display: block;
  width: 31px;
  height: 57px;
  background: url(../source/images/icon-arrow-white.png) no-repeat 0 0;
  position: absolute;
  top: -20px;
  right: 30px;
}
.you-need .you-need-list .your-need-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.you-need .you-need-list .your-need-item span {
  display: block;
  width: calc(100% - 50px);
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  font-size: 17px;
  color: #fff;
}
.you-need .you-need-list .your-need-item:before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
}
.you-need .your-equipment {
  width: 47.5%;
}
.you-need .your-equipment .you-need-list {
  background: rgba(178, 3, 3, 0.87);
  padding: 15px 30px;
}
.you-need .your-equipment .your-need-item {
  width: 100%;
  background: url(../source/images/icon-ok-rose.png) no-repeat 0 0;
  margin: 15px 0;
}
.you-need .your-qualities {
  width: 47.5%;
}
.you-need .your-qualities .you-need-list {
  background: rgba(26, 61, 132, 0.87);
  padding: 20px 30px;
}
.you-need .your-qualities .your-need-item {
  width: 50%;
  background: url(../source/images/icon-ok-blue.png) no-repeat 0 0;
  margin: 10px 0;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .you-need .your-qualities .you-need-list {
    display: block;
  }
  .you-need .your-qualities .your-need-item {
    width: 100%;
  }
}
@media (max-width: 1230px) {
  .you-need {
    display: block;
  }
  .you-need .your-equipment,
  .you-need .your-qualities {
    width: 100%;
    margin: 0 0 50px 0;
  }
  .you-need .your-equipment .you-need-list,
  .you-need .your-qualities .you-need-list {
    height: auto;
  }
}
/***********************************************************************************************************************
*********** steps
***********************************************************************************************************************/
.steps .note {
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 40px 0 0 0;
}
.steps .note a {
  font-family: inherit;
  color: #6891e3;
  text-decoration: underline;
}
.steps .note a:hover {
  text-decoration: none;
}
.steps-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin: 40px 0 0 0;
}
.steps-list .steps-item {
  display: inline-block;
  width: 100px;
  position: relative;
  color: #fff;
  font-size: 17px;
  font-family: 'PF AgoraSansPro Regular', sans-serif;
}
.steps-list .steps-item a {
  display: block;
  color: #6891e3;
  font-size: inherit;
  font-family: inherit;
  text-decoration: underline;
}
.steps-list .steps-item a:hover {
  text-decoration: none;
}
.steps-list .steps-item:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: #fff url(../source/images/sprite-3.png) no-repeat 0 0;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.57);
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.57);
  border-radius: 50%;
  margin: 0 auto 25px;
}
.steps-list .steps-item:nth-of-type(2):before {
  background-position: -80px 0;
}
.steps-list .steps-item:nth-of-type(3):before {
  background-position: -160px 0;
}
.steps-list .steps-item:nth-of-type(4):before {
  background-position: -240px 0;
}
.steps-list .steps-item:nth-of-type(5):before {
  background-position: -320px 0;
}
.steps-list .steps-item:nth-of-type(6):before {
  background-position: -400px 0;
}
.steps-list .steps-item:nth-of-type(7):before {
  background-position: -480px 0;
}
.steps-list .steps-item:after {
  content: '';
  display: block;
  width: 104px;
  height: 18px;
  background: url(../source/images/arrow-right-top.png) no-repeat 0 0;
  position: absolute;
  top: 31px;
  left: calc(100% - 30px);
}
.steps-list .steps-item:nth-of-type(2n):after {
  background: url(../source/images/arrow-right-bottom.png) no-repeat 0 0;
}
.steps-list .steps-item:last-of-type:after {
  display: none;
}
@media (max-width: 980px) {
  .steps-list {
    display: block;
  }
  .steps-list .steps-item {
    margin: 30px;
    vertical-align: top;
  }
  .steps-list .steps-item:after {
    display: none;
  }
}
@media (max-width: 480px) {
  .steps-list .steps-item {
    margin: 30px 20px;
  }
}
/***********************************************************************************************************************
*********** questionnaire
***********************************************************************************************************************/
.questionnaire {
  text-align: center;
}
.questionnaire .title {
  text-align: center;
  font-size: 39px;
  font-weight: 300;
  color: #fff;
}
.questionnaire .questionnaire-item {
  padding: 30px 70px;
  border: 2px solid #1c3f85;
  margin: 50px 0;
  text-align: left;
}
.questionnaire .questionnaire-item.info-personal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 980px) {
  .questionnaire .questionnaire-item.info-personal {
    display: block;
  }
}
@media (max-width: 768px) {
  .questionnaire .questionnaire-item {
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .questionnaire .questionnaire-item {
    padding: 30px 15px;
  }
}
.questionnaire .sub-title {
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 10px;
}
.questionnaire .sub-title:before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
  background: url(../source/images/icon-ok-red.png) no-repeat 0 0;
}
.questionnaire fieldset {
  display: block;
  width: 100%;
  border: none;
}
.questionnaire label {
  display: block;
  margin: 30px 0;
  background: #424242;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
.questionnaire label input {
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  border: none;
  padding: 0 20px;
  color: #fff;
}
.questionnaire label.label-date {
  position: relative;
}
.questionnaire label.label-date:after {
  content: '';
  display: block;
  width: 19px;
  height: 21px;
  background: url(../source/images/icon-calendar.png) no-repeat 0 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 15px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.questionnaire label.label-date input {
  padding: 0 50px 0 20px;
}
.questionnaire .info-driver {
  width: 45%;
}
@media (max-width: 980px) {
  .questionnaire .info-driver {
    width: 100%;
  }
}
.questionnaire .select-form {
  display: block;
  margin: 30px 0;
  background: #424242;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  position: relative;
}
.questionnaire .select-form .current-value {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 35px 0 20px;
  color: #fff;
  position: relative;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.questionnaire .select-form .current-value:before {
  content: '';
  display: block;
  width: 14px;
  height: 13px;
  background: url(../source/images/icon-triangle.png) no-repeat 0 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 10px;
}
.questionnaire .select-form .hidden-field {
  display: none;
}
.questionnaire .select-form.active .current-value:before {
  transform: rotate(180deg);
}
.questionnaire .select-form.active ul {
  padding: 0 45px 10px 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #424242;
  z-index: 10;
}
.questionnaire .select-form.active ul li {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.questionnaire .select-form.active ul li:hover,
.questionnaire .select-form.active ul li.active {
  color: #b10202;
}
.questionnaire .info-car {
  position: relative;
}
.questionnaire .info-car:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 980px) {
  .questionnaire .info-car {
    padding-bottom: 55px;
  }
}
.questionnaire .info-car label {
  width: 22%;
  margin: 15px 4% 15px 0;
  float: left;
}
.questionnaire .info-car label:nth-of-type(4) {
  margin-right: 0;
}
.questionnaire .info-car label:last-of-type {
  margin-right: 0;
}
@media (max-width: 980px) {
  .questionnaire .info-car label {
    width: 100%;
    margin: 15px 0;
  }
}
.questionnaire .info-car .custom-select {
  width: 22%;
  margin: 15px 4% 15px 0;
  float: left;
}
@media (max-width: 980px) {
  .questionnaire .info-car .custom-select {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 49%;
    margin: 0;
  }
  .questionnaire .info-car .custom-select:last-of-type {
    left: auto;
    right: 0;
  }
}
.questionnaire .info-documentation:after {
  content: '';
  display: block;
  clear: both;
}
.questionnaire .info-documentation .field-upload {
  width: 48%;
  margin: 15px 4% 15px 0;
  float: left;
  position: relative;
  background: #424242;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
.questionnaire .info-documentation .field-upload .text {
  display: block;
  width: calc(100% - 95px);
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 20px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
@media (max-width: 420px) {
  .questionnaire .info-documentation .field-upload .text {
    width: 176px;
  }
}
.questionnaire .info-documentation .field-upload label {
  margin: auto;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  background: url(../source/images/background-button-blue.png) no-repeat center;
  background-size: cover;
  text-align: center;
  cursor: pointer;
}
.questionnaire .info-documentation .field-upload label span {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.questionnaire .info-documentation .field-upload label input {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}
.questionnaire .info-documentation .field-upload:nth-of-type(2n),
.questionnaire .info-documentation .field-upload:last-of-type {
  margin: 15px 0;
}
.questionnaire .info-documentation .field-upload:nth-of-type(5) {
  width: 28%;
  margin: 15px 2% 15px 0;
}
.questionnaire .info-documentation .field-upload:nth-of-type(6) {
  width: 18%;
  margin: 15px 4% 15px 0;
}
@media (max-width: 980px) {
  .questionnaire .info-documentation .field-upload {
    width: 100%;
    margin: 15px 0;
  }
  .questionnaire .info-documentation .field-upload:nth-of-type(5),
  .questionnaire .info-documentation .field-upload:nth-of-type(6) {
    width: 100%;
    margin: 15px 0;
  }
}
.questionnaire .info-other:after {
  content: '';
  display: block;
  clear: both;
}
.questionnaire .info-other .select-options,
.questionnaire .info-other .additional-options {
  width: 48%;
  float: left;
  margin: 30px 0;
}
.questionnaire .info-other .additional-options {
  float: right;
}
.questionnaire .select-options {
  position: relative;
}
.questionnaire .select-options .current-value {
  width: 100%;
  height: 40px;
  padding: 0 35px 0 20px;
  position: relative;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  cursor: pointer;
  background: #424242;
}
.questionnaire .select-options .current-value span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: #fff;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.questionnaire .select-options .current-value:before {
  content: '';
  display: block;
  width: 14px;
  height: 13px;
  background: url(../source/images/icon-triangle.png) no-repeat 0 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 10px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.questionnaire .select-options ul {
  display: none;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
.questionnaire .select-options.active .current-value:before {
  transform: rotate(180deg) skew(10deg);
}
.questionnaire .select-options.active ul {
  display: block;
  padding: 0 45px 10px 20px;
  position: absolute;
  left: -19px;
  right: 19px;
  top: 100%;
  background: #424242;
  z-index: 10;
}
.questionnaire .select-options.active ul li {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.questionnaire .select-options.active ul li:hover,
.questionnaire .select-options.active ul li.active {
  color: #b10202;
}
@media (max-width: 980px) {
  .questionnaire .select-options {
    width: 100%!important;
    margin: 15px 0;
  }
}
.questionnaire .additional-options {
  display: block;
  width: 100%;
  text-align: left;
  min-height: 26px;
}
.questionnaire .additional-options .option-item {
  display: inline-block;
  vertical-align: top;
  height: 26px;
  background: #000;
  color: #fff;
  line-height: 26px;
  padding: 0 30px 0 15px;
  border-radius: 13px;
  font-size: 11px;
  text-transform: uppercase;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
.questionnaire .additional-options .option-item:after {
  content: '';
  display: block;
  clear: both;
}
.questionnaire .additional-options .option-item .option-close {
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  top: 6px;
  right: 7px;
  cursor: pointer;
}
.questionnaire .additional-options .option-item .option-close:before {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: #bb1010;
  position: absolute;
  left: 1px;
  top: 7px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.questionnaire .additional-options .option-item .option-close:after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: #bb1010;
  position: absolute;
  left: 1px;
  top: 7px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.questionnaire .additional-options .option-item .option-close:hover:before,
.questionnaire .additional-options .option-item .option-close:hover:after {
  background: #dd9a38;
}
@media (max-width: 980px) {
  .questionnaire .additional-options {
    width: 100%!important;
    margin: 15px 0;
  }
}
.questionnaire .submit-form {
  display: inline-block;
  width: auto;
  position: relative;
}
.questionnaire .submit-form:after {
  content: '';
  display: block;
  width: 31px;
  height: 57px;
  background: url(../source/images/icon-arrow-white.png) no-repeat 0 0;
  position: absolute;
  left: calc(100% - 5px);
  top: 0;
  -webkit-transform: rotate(-90deg) perspective(1px) translateZ(0);
  -moz-transform: rotate(-90deg) perspective(1px) translateZ(0);
  -ms-transform: rotate(-90deg) perspective(1px) translateZ(0);
  -o-transform: rotate(-90deg) perspective(1px) translateZ(0);
  transform: rotate(-90deg) perspective(1px) translateZ(0);
}
.questionnaire .submit-form:hover:after,
.questionnaire .submit-form:focus:after,
.questionnaire .submit-form:active:after {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.questionnaire .button {
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  padding: 0 35px;
  position: relative;
}
.questionnaire .button img {
  display: block;
  margin: 0;
}
.questionnaire .button:hover img {
  opacity: 1;
}
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: rotate(-90deg) translateY(8px);
    transform: rotate(-90deg) translateY(8px);
  }
  33.3% {
    -webkit-transform: rotate(-90deg) translateY(-6px);
    transform: rotate(-90deg) translateY(-6px);
  }
  49.95% {
    -webkit-transform: rotate(-90deg) translateY(4px);
    transform: rotate(-90deg) translateY(4px);
  }
  66.6% {
    -webkit-transform: rotate(-90deg) translateY(-2px);
    transform: rotate(-90deg) translateY(-2px);
  }
  83.25% {
    -webkit-transform: rotate(-90deg) translateY(1px);
    transform: rotate(-90deg) translateY(1px);
  }
  100% {
    -webkit-transform: rotate(-90deg) translateY(0);
    transform: rotate(-90deg) translateY(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: rotate(-90deg) translateY(8px);
    transform: rotate(-90deg) translateY(8px);
  }
  33.3% {
    -webkit-transform: rotate(-90deg) translateY(-6px);
    transform: rotate(-90deg) translateY(-6px);
  }
  49.95% {
    -webkit-transform: rotate(-90deg) translateY(4px);
    transform: rotate(-90deg) translateY(4px);
  }
  66.6% {
    -webkit-transform: rotate(-90deg) translateY(-2px);
    transform: rotate(-90deg) translateY(-2px);
  }
  83.25% {
    -webkit-transform: rotate(-90deg) translateY(1px);
    transform: rotate(-90deg) translateY(1px);
  }
  100% {
    -webkit-transform: rotate(-90deg) translateY(0);
    transform: rotate(-90deg) translateY(0);
  }
}
/***********************************************************************************************************************
*********** about-us
***********************************************************************************************************************/
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about-us h2 {
  text-align: left;
  line-height: 1;
  margin: 0 0 25px 0;
}
.video-block {
  display: block;
  width: 46%;
  max-width: 570px;
}
.video-block .image-wrap {
  display: block;
  border: 20px solid #fff;
  position: relative;
  overflow: hidden;
}
.video-block .image-wrap img {
  display: block;
  margin: 0;
  height: 100%;
  width: auto;
}
.video-block .image-wrap:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background: #1e438d;
  border: 8px solid #fff;
  -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.57);
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.57);
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.video-block .image-wrap:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid #fff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  position: absolute;
  margin: auto;
  left: calc(50% - 7px);
  top: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.video-block .image-wrap:hover:before {
  -webkit-box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.57);
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.57);
}
.video-block .image-wrap:hover:after {
  border-left: 30px solid #fff;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  left: calc(50% - 10px);
}
.video-block .note {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-size: 0;
}
.video-block .note .text {
  display: inline-block;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
.video-block .note .text:first-of-type {
  background: #cb0202;
}
.video-block .note .text:last-of-type {
  background: #151515;
}
.video-block .note span {
  display: block;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px 20px;
}
@media (max-width: 480px) {
  .video-block .note span {
    font-size: 12px;
  }
}
.why-we {
  display: block;
  width: 46%;
}
.why-we .why-we-list {
  display: block;
}
.why-we .why-we-list .why-we-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.why-we .why-we-list .why-we-item:before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background: url(../source/images/icon-ok-red.png) no-repeat 0 0;
}
.why-we .why-we-list .why-we-item span {
  display: block;
  width: calc(100% - 50px);
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  font-size: 17px;
  color: #fff;
}
.why-we .text {
  padding-left: 50px;
  margin: 25px 0;
  color: #6891e3;
  font-size: 21px;
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  text-transform: uppercase;
}
.why-we .text a {
  font-size: inherit;
  font-family: 'PF AgoraSansPro Regular', sans-serif;
}
@media (max-width: 480px) {
  .why-we .text {
    font-size: 18px;
    padding-left: 0;
  }
  .why-we .text a {
    font-size: 18px;
  }
}
.why-we > span {
  display: inline-block;
  margin: 0 20px 0 50px;
  font-size: 23px;
  color: #fff;
}
@media (max-width: 480px) {
  .why-we > span {
    font-size: 16px;
    margin: 0 20px 0 0;
  }
}
.why-we .button {
  display: inline-block;
  background: #1e438d;
}
@media (max-width: 480px) {
  .why-we .button {
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
  }
}
@media (max-width: 980px) {
  .about-us {
    display: block;
    text-align: center;
  }
  .video-block {
    width: 100%;
    margin: 0 auto;
  }
  .video-block h2 {
    text-align: center;
  }
  .why-we {
    width: 100%;
    text-align: left;
    padding: 30px 20px;
  }
}
/***********************************************************************************************************************
*********** promo-text
***********************************************************************************************************************/
.promo-text {
  padding: 10px 0 40px;
}
.promo-text h3 {
  font-size: 30px;
  color: #6891e3;
  margin: 30px 0 20px;
}
.promo-text p {
  font-size: 17px;
  color: #fff;
}
@media (max-width: 1260px) {
  .promo-text {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .promo-text {
    padding: 0 20px;
  }
}
/***********************************************************************************************************************
*********** footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  background: #c8d4e2;
  padding: 15px 0;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .wrapper-inner {
    display: block;
  }
}
footer[role='contentinfo'] .logo {
  display: block;
  height: 39px;
  position: relative;
  padding-left: 60px;
}
footer[role='contentinfo'] .logo img {
  display: block;
  height: 100%;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
}
footer[role='contentinfo'] .logo span {
  font-family: 'PF AgoraSansPro Regular', sans-serif;
  color: #000;
  display: block;
}
footer[role='contentinfo'] .select-city ul {
  top: auto;
  bottom: calc(100% + 20px);
  padding: 10px 25px 20px 15px;
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .location-phone {
    display: inline-block;
    margin: 20px 0 0 20px;
    padding: 0;
  }
  footer[role='contentinfo'] .location-phone .select-city {
    right: auto;
    left: 0;
  }
  footer[role='contentinfo'] .location-phone .select-city.active ul {
    right: auto;
    left: -30px;
    bottom: calc(100% + 15px);
    padding: 10px 25px 10px 15px;
  }
  footer[role='contentinfo'] .location-phone .select-city.active ul li {
    text-align: left;
  }
  footer[role='contentinfo'] .location-phone .link-phone {
    text-align: left;
    right: auto;
    left: -15px;
  }
}
/***********************************************************************************************************************
*********** window
***********************************************************************************************************************/
.window {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}
.window .window-inner {
  display: block;
  width: 320px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 100px;
  background: #fff;
  padding: 40px 25px 25px 25px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
@media (max-width: 768px) {
  .window .window-inner {
    top: 50px;
  }
}
@media (max-width: 480px) {
  .window .window-inner {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
  }
}
.window .close-window {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff url(../source/images/close-black.png) no-repeat center;
  position: absolute;
  margin: auto;
  top: 10px;
  right: 25px;
  cursor: pointer;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.window .close-window:hover {
  background: #000 url(../source/images/close-white.png) no-repeat center;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 480px) {
  .window .close-window {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
  }
}
.window label {
  display: block;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #999999;
  padding: 0 15px;
}
.window input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: none;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
@media (max-width: 480px) {
  .window input {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
  }
}
.window textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 15px 15px;
  border: none;
  resize: none;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
@media (max-width: 480px) {
  .window textarea {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
  }
}
.window input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.window input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.window input:-moz-placeholder {
  color: #999;
  opacity: 1;
}
.window input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.window input:focus::-webkit-input-placeholder {
  color: transparent;
}
.window input:focus::-moz-placeholder {
  color: transparent;
}
.window input:focus:-moz-placeholder {
  color: transparent;
}
.window input:focus:-ms-input-placeholder {
  color: transparent;
}
.window textarea::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
}
.window textarea::-moz-placeholder {
  color: #999;
  font-size: 14px;
}
.window textarea:-moz-placeholder {
  color: #999;
  font-size: 14px;
}
.window textarea:-ms-input-placeholder {
  color: #999;
  font-size: 14px;
}
.window textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.window textarea:focus::-moz-placeholder {
  color: transparent;
}
.window textarea:focus:-moz-placeholder {
  color: transparent;
}
.window textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.window.window-callback button {
  width: 100%;
  text-transform: uppercase;
  -webkit-transform: skew(-1deg);
  -moz-transform: skew(-1deg);
  -ms-transform: skew(-1deg);
  -o-transform: skew(-1deg);
  transform: skew(-1deg);
}
@media (max-width: 480px) {
  .window.window-callback button span {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
  }
}
@media (max-width: 480px) {
  .window.window-callback button {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
  }
}
.window.window-question button {
  width: 100%;
  text-transform: uppercase;
  -webkit-transform: skew(-1deg);
  -moz-transform: skew(-1deg);
  -ms-transform: skew(-1deg);
  -o-transform: skew(-1deg);
  transform: skew(-1deg);
}
@media (max-width: 480px) {
  .window.window-question button span {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
  }
}
@media (max-width: 480px) {
  .window.window-question button {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
  }
}
