/***********************************************************************************************************************
*********** fonts
***********************************************************************************************************************/
@font-face {
  font-family: 'PF AgoraSansPro Light';
  src: url("../source/fonts/pfagorasanspro-light.ttf") format("truetype");
}
@font-face {
  font-family: 'PF AgoraSansPro Regular';
  src: url("../source/fonts/pfagorasanspro-reg.ttf") format("truetype");
}
@font-face {
  font-family: 'PF AgoraSansPro Medium';
  src: url("../source/fonts/pfagorasanspro-medium.ttf") format("truetype");
}
/***********************************************************************************************************************
*********** general styles
***********************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PF AgoraSansPro Light', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}
.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  background: #f5f5f5 url(../source/images/background.jpg) no-repeat top center;
}
.wrapper-inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
a:hover {
  text-decoration: underline;
}
button {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
}
p {
  line-height: 1.6;
}
input::-webkit-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
input::-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
input:-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
input:-ms-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea::-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:-ms-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}
h1 {
  font-weight: 700;
  font-size: 33px;
  text-shadow: 0 0 5px #fff;
  margin-top: 50px;
}
h1 span {
  display: block;
  font-weight: 700;
  font-size: 37px;
  color: #990000;
  text-transform: uppercase;
  margin-top: 10px;
  text-shadow: 0 0 5px #fff;
}
h2 {
  font-size: 27px;
  color: #990000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h3 {
  color: #9b1515;
  font-weight: 700;
  font-size: 20px;
}
.custom-select {
  display: block;
}
.custom-select .current-value {
  cursor: pointer;
}
.custom-select ul {
  display: none;
}
.custom-select.active ul {
  display: block;
}
.location-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .location-phone {
    display: block;
    padding-bottom: 30px;
  }
}
.link-phone {
  display: block;
  margin-right: 60px;
}
.link-phone a {
  font-size: 25px;
  color: #ff9900;
}
@media (max-width: 980px) {
  .link-phone {
    margin-right: 35px;
  }
  .link-phone a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .link-phone {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .link-phone a {
    white-space: nowrap;
  }
}
.select-city {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-city:before {
  content: '';
  display: block;
  width: 22px;
  height: 29px;
  background: url(../source/images/icon-geo.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  left: -30px;
  top: -5px;
}
@media (max-width: 980px) {
  .select-city:before {
    width: 15px;
    height: 20px;
    top: -3px;
    left: -20px;
  }
}
.select-city .current-value {
  font-size: 18px;
  color: #fff;
  line-height: 1;
  position: relative;
  padding-right: 20px;
}
.select-city .current-value:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #ff9900;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 8px;
  right: 0;
}
.select-city .current-value:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 2px solid #000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 8px;
  right: 3px;
}
@media (max-width: 980px) {
  .select-city .current-value {
    font-size: 14px;
    padding-right: 17px;
  }
  .select-city .current-value:before {
    top: 6px;
  }
  .select-city .current-value:after {
    top: 6px;
  }
}
.select-city.active .current-value:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 5px solid #ff9900;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 8px;
  right: 0;
}
.select-city.active .current-value:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 2px solid #000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 11px;
  right: 3px;
}
@media (max-width: 980px) {
  .select-city.active .current-value:before {
    top: 5px;
  }
  .select-city.active .current-value:after {
    top: 8px;
  }
}
.select-city.active ul {
  display: block;
  padding: 10px 25px 20px 15px;
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background: #000;
  z-index: 10;
}
.select-city.active ul li {
  display: block;
  text-align: right;
  margin: 10px 0;
  cursor: pointer;
}
.select-city.active ul li span {
  color: #fff;
  white-space: nowrap;
}
.select-city.active ul li a {
  display: none;
}
.select-city.active ul li:hover span,
.select-city.active ul li.active span {
  color: #ff9900;
}
@media (max-width: 768px) {
  .select-city.active ul {
    top: calc(100% + 10px);
  }
}
/***********************************************************************************************************************
*********** header
***********************************************************************************************************************/
header[role='banner'] {
  background: url(../source/images/background-header.jpg) no-repeat center;
  padding: 15px 0;
}
header[role='banner'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header[role='banner'] .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 39px;
}
header[role='banner'] .logo img {
  display: block;
  height: 100%;
  width: auto;
  margin-right: 10px;
}
header[role='banner'] .logo span {
  font-family: 'PF AgoraSansPro Medium', sans-serif;
  font-size: 22px;
  color: #fff;
}
@media (max-width: 980px) {
  header[role='banner'] .logo span {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  header[role='banner'] .logo span {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .logo span {
    display: none;
  }
}
/***********************************************************************************************************************
*********** top-block
***********************************************************************************************************************/
.top-block {
  height: 697px;
  background: url(../source/images/background-top.png) no-repeat top center;
}
@media (max-width: 768px) {
  .top-block {
    height: auto;
    background-size: cover;
  }
}
.top-block .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 768px) {
  .top-block .wrapper-inner {
    display: block;
    padding: 30px 10px;
  }
  .top-block .wrapper-inner h1 {
    margin: 0;
    font-size: 24px;
  }
  .top-block .wrapper-inner h1 span {
    font-size: 28px;
  }
}
.top-block .top-advantages {
  align-self: stretch;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 0 50px;
  width: 300px;
}
@media (max-width: 768px) {
  .top-block .top-advantages {
    width: 100%;
    text-align: left;
    margin-top: 30px;
    padding: 20px;
  }
  .top-block .top-advantages button {
    display: inline-block;
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .top-block .top-advantages button {
    display: block;
    margin: 10px auto;
  }
}
.top-block .commission {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 116px;
  height: 115px;
  margin: 35px auto;
  background: url(../source/images/background-comission.png) no-repeat center;
  background-size: cover;
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  line-height: 1;
}
.top-block .commission span {
  color: inherit;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
}
@media (max-width: 768px) {
  .top-block .commission {
    display: inline-flex;
    vertical-align: middle;
    margin: 0 20px 0 0;
  }
}
@media (max-width: 480px) {
  .top-block .commission {
    display: flex;
    margin: 0 auto;
  }
}
.top-block ul li {
  display: block;
  margin: 25px 0;
  text-align: left;
  padding-left: 40px;
  position: relative;
  font-size: 17px;
  font-style: italic;
}
.top-block ul li:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../source/images/icon-ok-1.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 1px;
}
@media (max-width: 768px) {
  .top-block ul {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 150px);
  }
}
@media (max-width: 480px) {
  .top-block ul {
    display: block;
    width: 250px;
    margin: 0 auto;
  }
}
.fill-in-questionnaire {
  margin: 50px 0 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, #cc0000, #990000);
  border-radius: 0 25px 25px 25px;
}
.fill-in-questionnaire:hover {
  background: linear-gradient(to left, #cc0000, #990000);
}
.ask-question {
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background: linear-gradient(to right, #ffcc00, #ff9900);
  border-radius: 0 25px 25px 25px;
}
.ask-question:hover {
  background: linear-gradient(to left, #ffcc00, #ff9900);
}
.callback {
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff9900;
  background: #000;
  border-radius: 0 25px 25px 25px;
}
.callback:hover {
  color: #000;
  background: #ff9900;
}
/***********************************************************************************************************************
*********** terms-of-connection
***********************************************************************************************************************/
.terms-of-connection {
  padding: 50px 0;
  text-align: center;
}
.terms-of-connection .text {
  font-size: 20px;
}
.terms-of-connection .text span {
  display: block;
  font-weight: 700;
  font-size: inherit;
}
.terms-of-connection .text span a {
  font-weight: inherit;
}
.terms-of-connection .terms {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0;
}
.terms-of-connection .terms li {
  display: block;
  width: 140px;
  font-weight: 700;
  color: #990000;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.terms-of-connection .terms li:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ff9900 url(../source/images/sprite-1.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 auto 20px;
}
.terms-of-connection .terms li:nth-child(2):before {
  background-position: -100px 0;
}
.terms-of-connection .terms li:nth-child(3):before {
  background-position: -200px 0;
}
.terms-of-connection .terms li:nth-child(4):before {
  background-position: -300px 0;
}
.terms-of-connection .terms li:nth-child(5):before {
  background-position: -400px 0;
}
.terms-of-connection .terms li:nth-child(6):before {
  background-position: -500px 0;
}
.terms-of-connection .terms li:nth-child(7):before {
  background-position: -600px 0;
}
.terms-of-connection .terms li:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #ff9900;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: 60px;
  top: 92px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.terms-of-connection .terms li:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}
.terms-of-connection .terms li:nth-child(2),
.terms-of-connection .terms li:nth-last-child(2) {
  margin-top: 10px;
}
.terms-of-connection .terms li:nth-child(2):hover,
.terms-of-connection .terms li:nth-last-child(2):hover {
  margin-top: 0;
  margin-bottom: 10px;
}
.terms-of-connection .terms li:nth-child(3),
.terms-of-connection .terms li:nth-last-child(3) {
  margin-top: 20px;
}
.terms-of-connection .terms li:nth-child(3):hover,
.terms-of-connection .terms li:nth-last-child(3):hover {
  margin-top: 0;
  margin-bottom: 20px;
}
.terms-of-connection .terms li:nth-child(4),
.terms-of-connection .terms li:nth-last-child(4) {
  margin-top: 30px;
}
.terms-of-connection .terms li:nth-child(4):hover,
.terms-of-connection .terms li:nth-last-child(4):hover {
  margin-top: 0;
  margin-bottom: 30px;
}
.terms-of-connection .advantages {
  display: block;
  margin: 50px 0;
}
.terms-of-connection .advantages li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  width: 270px;
  height: 160px;
  border: 3px solid #990000;
  border-radius: 80px;
  font-size: 14px;
  font-weight: 700;
  margin: 0 15px;
  position: relative;
  white-space: pre;
}
.terms-of-connection .advantages li:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: url(../source/images/icon-ok-2.png) no-repeat center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -20px;
}
@media (max-width: 1260px) {
  .terms-of-connection .advantages li {
    margin: 20px;
  }
}
@media (max-width: 980px) {
  .terms-of-connection .terms {
    display: block;
  }
  .terms-of-connection .terms li,
  .terms-of-connection .terms li:nth-child(2),
  .terms-of-connection .terms li:nth-child(3),
  .terms-of-connection .terms li:nth-child(4),
  .terms-of-connection .terms li:nth-last-child(2),
  .terms-of-connection .terms li:nth-last-child(3),
  .terms-of-connection .terms li:nth-last-child(4) {
    display: inline-block;
    vertical-align: top;
    margin: 20px 15px;
  }
}
@media (max-width: 480px) {
  .terms-of-connection .terms li,
  .terms-of-connection .terms li:nth-child(2),
  .terms-of-connection .terms li:nth-child(3),
  .terms-of-connection .terms li:nth-child(4),
  .terms-of-connection .terms li:nth-last-child(2),
  .terms-of-connection .terms li:nth-last-child(3),
  .terms-of-connection .terms li:nth-last-child(4) {
    width: 135px;
    margin: 20px 5px;
  }
}
/***********************************************************************************************************************
*********** you-need
***********************************************************************************************************************/
.you-need {
  text-align: center;
}
.you-need .wrapper-inner {
  background: #fff;
  padding: 20px 60px;
  border-radius: 0 100px 100px 100px;
}
@media (max-width: 980px) {
  .you-need .wrapper-inner {
    border-radius: 0;
  }
}
.you-need ul {
  display: block;
  width: 100%;
}
.you-need ul li {
  display: inline-flex;
  vertical-align: top;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  width: 160px;
  white-space: pre-wrap;
  font-style: italic;
  margin: 20px;
  position: relative;
  z-index: 2;
}
.you-need ul li img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.you-need ul li img:hover,
.you-need ul li img:focus,
.you-need ul li img:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.you-need ul li span {
  display: block;
  font-weight: 700;
  font-style: inherit;
}
.you-need ul li:before {
  content: '';
  display: block;
  width: 75px;
  height: 2px;
  background: linear-gradient(to right, #999 0, #999 5px, transparent 5px, transparent 7px) repeat-x 0 0;
  background-size: 7px 2px;
  position: absolute;
  top: 90px;
  left: calc(100% - 15px);
  z-index: -1;
}
.you-need ul li:last-child:before {
  display: none;
}
@media (max-width: 1260px) {
  .you-need ul li:before {
    display: none;
  }
}
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/***********************************************************************************************************************
*********** steps
***********************************************************************************************************************/
.steps {
  padding: 40px 0;
  text-align: center;
}
.steps ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  counter-reset: list;
}
.steps ul li {
  display: block;
  width: 140px;
  margin: 20px 0;
  color: #990000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 95px;
  position: relative;
  line-height: 1.3;
}
.steps ul li:before {
  counter-increment: list;
  content: counter(list) '';
  color: #000;
  font-size: 17px;
  font-weight: 700;
  text-shadow: 0 0 2px #fff;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #ff9900;
  border-radius: 0 17px 17px 17px;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 1;
}
.steps ul li:after {
  content: '';
  display: block;
  width: 80px;
  height: 87px;
  background: url(../source/images/sprite-2.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
}
.steps ul li:nth-child(2):after {
  background-position: -80px 0;
}
.steps ul li:nth-child(3):after {
  background-position: -160px 0;
}
.steps ul li:nth-child(4):after {
  background-position: -240px 0;
}
.steps ul li:nth-child(5):after {
  background-position: -320px 0;
}
.steps ul li:nth-child(6):after {
  background-position: -400px 0;
}
@media (max-width: 980px) {
  .steps ul {
    display: block;
  }
  .steps ul li {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
  }
}
@media (max-width: 480px) {
  .steps ul li {
    width: 130px;
    margin: 15px 5px;
  }
}
/***********************************************************************************************************************
*********** questionnaire
***********************************************************************************************************************/
.questionnaire {
  padding: 0 0 40px;
}
.questionnaire .form-questionnaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 1060px;
  margin: 0 auto;
}
@media (max-width: 1260px) {
  .questionnaire .form-questionnaire {
    width: 100%;
    padding-bottom: 70px;
    position: relative;
  }
}
.questionnaire fieldset {
  border: none;
  width: 510px;
}
@media (max-width: 1260px) {
  .questionnaire fieldset {
    width: calc(50% - 15px);
  }
}
@media (max-width: 768px) {
  .questionnaire fieldset {
    width: 100%;
  }
}
.questionnaire label {
  display: block;
  margin: 10px 0;
}
.questionnaire .label-short {
  width: 200px;
}
@media (max-width: 980px) {
  .questionnaire .label-short {
    width: 160px;
  }
}
@media (max-width: 480px) {
  .questionnaire .label-short {
    width: 100%;
  }
}
.questionnaire .label-long {
  width: 290px;
}
@media (max-width: 1260px) {
  .questionnaire .label-long {
    width: calc(100% - 220px);
  }
}
@media (max-width: 980px) {
  .questionnaire .label-long {
    width: calc(100% - 180px);
  }
}
@media (max-width: 480px) {
  .questionnaire .label-long {
    width: 100%;
  }
}
.questionnaire .label-full {
  width: 100%;
}
.questionnaire .data-driver .label-short {
  float: right;
}
.questionnaire .data-driver .label-long,
.questionnaire .data-driver .label-full {
  float: left;
}
.questionnaire .data-car .label-short,
.questionnaire .data-car .label-full {
  float: left;
}
.questionnaire .data-car .select-form {
  width: 290px;
  float: right;
}
@media (max-width: 1260px) {
  .questionnaire .data-car .select-form {
    width: calc(100% - 220px);
  }
}
@media (max-width: 980px) {
  .questionnaire .data-car .select-form {
    width: calc(100% - 180px);
  }
}
@media (max-width: 480px) {
  .questionnaire .data-car .select-form {
    width: 100%;
  }
}
.questionnaire input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #d6d6d6;
  border-radius: 0 25px 25px 25px;
  background: #fff;
}
.questionnaire .label-date {
  position: relative;
}
.questionnaire .label-date input {
  padding: 0 45px 0 20px;
}
.questionnaire .label-date:after {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background: url(../source/images/icon-calendar.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  margin: auto;
  right: 15px;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.questionnaire .select-options {
  width: 830px;
  float: left;
  margin: 10px 0;
}
@media (max-width: 1260px) {
  .questionnaire .select-options {
    width: 100%;
  }
}
.questionnaire button[type="submit"] {
  width: 210px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, #cc0000, #990000);
  border-radius: 0 25px 25px 25px;
  float: right;
  margin: 10px 0;
}
.questionnaire button[type="submit"]:hover {
  background: linear-gradient(to left, #cc0000, #990000);
}
@media (max-width: 1260px) {
  .questionnaire button[type="submit"] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .questionnaire button[type="submit"] {
    width: 100%;
  }
}
.select-form {
  border: 1px solid #d6d6d6;
  border-radius: 0 25px 25px 25px;
  background: #fff;
  margin: 10px 0;
  position: relative;
}
.select-form .current-value {
  width: 100%;
  height: 50px;
  line-height: 48px;
  padding: 0 45px 0 20px;
  color: #8a9193;
  font-size: 14px;
  position: relative;
}
.select-form .current-value:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #d6d6d6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 22px;
  right: 20px;
}
.select-form .current-value:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 3px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 22px;
  right: 23px;
}
.select-form .hidden-field {
  display: none;
}
.select-form.active {
  border-radius: 0 25px 0 0;
}
.select-form.active .current-value:before {
  border-top: none;
  border-bottom: 5px solid #d6d6d6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: 22px;
  right: 20px;
}
.select-form.active .current-value:after {
  border-top: none;
  border-bottom: 2px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  top: 25px;
  right: 23px;
}
.select-form.active ul {
  padding: 0 45px 10px 20px;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 100%;
  border: 1px solid #d6d6d6;
  border-top: none;
  border-radius: 0 0 25px 25px;
  background: #fff;
  z-index: 10;
}
.select-form.active ul li {
  display: block;
  margin-bottom: 10px;
  color: #8a9193;
  font-size: 14px;
  cursor: pointer;
}
.select-form.active ul li:hover,
.select-form.active ul li.active {
  color: #ff9900;
}
.select-options {
  border: 1px solid #d6d6d6;
  border-radius: 0 25px 25px 25px;
  background: #fff;
  margin: 10px 0;
  position: relative;
}
.select-options .current-value {
  width: 100%;
  height: 50px;
  line-height: 48px;
  padding: 0 45px 0 20px;
  color: #8a9193;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.select-options .current-value:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #d6d6d6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 22px;
  right: 20px;
}
.select-options .current-value:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 3px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 22px;
  right: 23px;
}
.select-options ul {
  display: none;
}
.select-options.active {
  border-radius: 0 25px 0 0;
}
.select-options.active .current-value:before {
  border-top: none;
  border-bottom: 5px solid #d6d6d6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: 22px;
  right: 20px;
}
.select-options.active .current-value:after {
  border-top: none;
  border-bottom: 2px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  top: 25px;
  right: 23px;
}
.select-options.active ul {
  display: block;
  padding: 0 45px 10px 20px;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 100%;
  border: 1px solid #d6d6d6;
  border-top: none;
  border-radius: 0 0 25px 25px;
  background: #fff;
  z-index: 10;
}
.select-options.active ul li {
  display: block;
  margin-bottom: 10px;
  color: #8a9193;
  font-size: 14px;
  cursor: pointer;
}
.select-options.active ul li:hover,
.select-options.active ul li.active {
  color: #ff9900;
}
.additional-options {
  display: block;
  width: 100%;
  text-align: left;
  min-height: 26px;
}
.additional-options .option-item {
  display: inline-block;
  vertical-align: top;
  height: 26px;
  background: #000;
  color: #fff;
  line-height: 26px;
  padding: 0 30px 0 15px;
  border-radius: 13px;
  font-size: 11px;
  text-transform: uppercase;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
.additional-options .option-item:after {
  content: '';
  display: block;
  clear: both;
}
.additional-options .option-item .option-close {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 9px;
  background: #000;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 7px;
  cursor: pointer;
}
.additional-options .option-item .option-close:before {
  content: '';
  display: block;
  width: 14px;
  height: 1px;
  background: #bb1010;
  position: absolute;
  left: 1px;
  top: 7px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.additional-options .option-item .option-close:after {
  content: '';
  display: block;
  width: 14px;
  height: 1px;
  background: #bb1010;
  position: absolute;
  left: 1px;
  top: 7px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.additional-options .option-item .option-close:hover {
  background: #bb1010;
}
.additional-options .option-item .option-close:hover:before,
.additional-options .option-item .option-close:hover:after {
  background: #000;
}
/***********************************************************************************************************************
*********** callback-block
***********************************************************************************************************************/
.callback-block {
  text-align: center;
}
.callback-block .wrapper-inner {
  width: 1060px;
  padding: 50px 0;
  background: rgba(255, 255, 255, 0.57);
  border-radius: 0 120px 120px 120px;
}
@media (max-width: 1260px) {
  .callback-block .wrapper-inner {
    width: 100%;
    border-radius: 0;
  }
}
.callback-block .text {
  margin-bottom: 25px;
}
.callback-block .text span {
  display: block;
  font-size: 27px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .callback-block .text span {
    font-size: 18px;
  }
}
.callback-block .callback {
  margin: 0 auto;
}
/***********************************************************************************************************************
*********** promo-block
***********************************************************************************************************************/
.promo-block {
  padding: 50px 0;
}
.promo-block .wrapper-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 980px) {
  .promo-block .wrapper-inner {
    display: block;
  }
}
.promo-block .application {
  width: 306px;
  text-align: center;
  margin-right: 100px;
}
.promo-block .application .text {
  color: #b11414;
  font-weight: 700;
  font-size: 23px;
  margin: 20px 0;
}
@media (max-width: 980px) {
  .promo-block .application {
    width: 300px;
    margin: 0 auto 30px;
  }
}
.promo-block .image-wrap {
  display: block;
  width: 100%;
  position: relative;
}
.promo-block .image-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
.promo-block .image-wrap:before {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  border: 5px solid #000;
  background: #feb30c;
  -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.promo-block .image-wrap:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 16px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 144px;
  z-index: 15;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.promo-block .image-wrap:hover:before {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  width: 85px;
  height: 85px;
}
.promo-block .image-wrap:hover:after {
  border-left: 32px solid #000;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  left: 140px;
}
.promo-block .button-video {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  line-height: 1;
  padding: 10px 20px;
  text-shadow: 0 0 2px #fff;
  background: #feb30c;
  border-radius: 17px;
}
.promo-block .guarantee .title {
  font-size: 27px;
  font-weight: 700;
}
.promo-block .guarantee .title span {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  color: #9c1515;
}
.promo-block .guarantee ul {
  padding-left: 30px;
}
.promo-block .guarantee ul li {
  display: block;
  margin: 25px 0;
  font-size: 20px;
  font-style: italic;
  position: relative;
  padding-left: 30px;
}
.promo-block .guarantee ul li:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../source/images/icon-ok-1.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 2px;
}
@media (max-width: 980px) {
  .promo-block .guarantee {
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }
  .promo-block .guarantee ul {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .promo-block .guarantee {
    width: 300px;
  }
  .promo-block .guarantee .title {
    font-size: 20px;
  }
  .promo-block .guarantee ul li {
    font-size: 15px;
  }
}
/***********************************************************************************************************************
*********** promo-text
***********************************************************************************************************************/
.promo-text {
  background: #fff;
  padding: 10px 0 40px;
}
.promo-text h3 {
  margin: 30px 0 20px;
}
@media (max-width: 1260px) {
  .promo-text .wrapper-inner {
    padding: 0 30px;
  }
}
/***********************************************************************************************************************
*********** footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  background: #000;
  padding: 15px 0;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .wrapper-inner {
    display: block;
  }
}
footer[role='contentinfo'] .logo {
  display: block;
  height: 39px;
  position: relative;
  padding-left: 60px;
}
footer[role='contentinfo'] .logo img {
  display: block;
  height: 100%;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
}
footer[role='contentinfo'] .logo span {
  display: block;
  color: #fff;
  margin: 3px 0 0;
}
footer[role='contentinfo'] .select-city ul {
  top: auto;
  bottom: calc(100% + 20px);
  padding: 10px 25px 20px 15px;
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .location-phone {
    display: inline-block;
    margin: 20px 0 0 20px;
  }
  footer[role='contentinfo'] .location-phone .select-city.active ul {
    right: auto;
    left: -30px;
    bottom: calc(100% + 15px);
    padding: 10px 25px 10px 15px;
  }
  footer[role='contentinfo'] .location-phone .select-city.active ul li {
    text-align: left;
  }
  footer[role='contentinfo'] .location-phone .link-phone {
    text-align: left;
    right: auto;
    left: -15px;
  }
}
/***********************************************************************************************************************
*********** window
***********************************************************************************************************************/
.window {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}
.window .window-inner {
  display: block;
  width: 320px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 100px;
  background: #fff;
  padding: 40px 25px 25px 25px;
  border-radius: 0 40px 40px 40px;
}
@media (max-width: 768px) {
  .window .window-inner {
    top: 50px;
  }
}
.window .close-window {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  margin: auto;
  top: 10px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 7px;
  top: 19px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 7px;
  top: 19px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:hover {
  background: #000;
}
.window .close-window:hover:before,
.window .close-window:hover:after {
  background: #fff;
}
.window label {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.window input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #999999;
  border-radius: 0 25px 25px 25px;
}
.window textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  border: 1px solid #999999;
  border-radius: 0 25px 25px 25px;
  resize: none;
}
.window.window-callback button {
  width: 100%;
  text-transform: uppercase;
  color: #ff9900;
  background: #000;
  border-radius: 0 25px 25px 25px;
  font-weight: 700;
}
.window.window-callback button:hover {
  color: #000;
  background: #ff9900;
}
.window.window-question button {
  width: 100%;
  text-transform: uppercase;
  color: #000;
  background: linear-gradient(to right, #ffcc00, #ff9900);
  border-radius: 0 25px 25px 25px;
  font-weight: 700;
}
.window.window-question button:hover {
  background: linear-gradient(to left, #ffcc00, #ff9900);
}
