/***********************************************************************************************************************
*********** fonts
***********************************************************************************************************************/
@import "fonts";
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////// mixes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.smooth(@speed) {
  -webkit-transition: @speed;
  -moz-transition: @speed;
  -ms-transition: @speed;
  -o-transition: @speed;
  transition: @speed;
}

.clearfix() {

  &:after {
    content: '';
    display: block;
    clear: both;
  }

}

.turned(@cut) {
  -webkit-transform: skew(@cut);
  -moz-transform: skew(@cut);
  -ms-transform: skew(@cut);
  -o-transform: skew(@cut);
  transform: skew(@cut);
}

/***********************************************************************************************************************
*********** general styles
***********************************************************************************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PF AgoraSansPro Light', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  background: #000 url(../source/images/background.jpg) no-repeat top center;
}

.wrapper-inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;

  @media (max-width: 1260px) {
    padding: 0 15px;
  }

  @media (max-width: 768px) {
    padding: 0 10px;
  }

}

a {
  .smooth(.4s);

  color: inherit;
  text-decoration: none;

  &:focus, &:active {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }

}

button:focus,
button:active {
  outline: none;
}

.button {
  display: block;
  font-family: 'PF AgoraSansPro Medium', sans-serif;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  height: 47px;
  border: none;
  cursor: pointer;
  padding: 0 25px;
  .turned(-10deg);
  overflow: hidden;
  position: relative;
  white-space: nowrap;


  img {
    display: block;
    width: ~"calc(100% + 25px)";
    height: auto;
    position: absolute;
    left: -10px;
    top: -5px;
    right: -10px;
    .turned(10deg);
  }

  &:hover {

    img {
      opacity: .8;
    }

  }

  span {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    position: relative;
    z-index: 1;
    .turned(10deg);
  }

}

p {
  line-height: 1.6;
}

input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea::-webkit-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}

textarea::-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}

textarea:-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}

textarea:-ms-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus,
textarea:focus {
  outline: none;
}

section {
  display: block;
  padding: 50px 0;
}

h1 {
  font-size: 46px;
  font-weight: 300;
  color: #fff;

  @media(max-width: 768px) {
    font-size: 32px;
  }

}

h2 {
  text-align: center;
  font-size: 39px;
  font-weight: 300;
  color: #fff;

  @media(max-width: 768px) {
    font-size: 32px;
  }

}

.custom-select {
  display: block;

  .current-value {
    cursor: pointer;
  }

  ul {
    display: none;
  }

  &.active {

    ul {
      display: block;
    }

  }

}

.location-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  padding-left: 60px;

  .background-map {
    .turned(-10deg);
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  img {
    display: block;
    height: 100%;
    width: auto;
    .turned(10deg);
    margin-left: -10px;
  }

  @media(max-width: 980px) {
    padding-left: 15px;
  }

}

.link-phone {
  display: block;
  margin-right: 60px;
  position: relative;
  z-index: 1;

  a {
    font-family: 'PF AgoraSansPro Regular', sans-serif;
    font-size: 22px;
    color: #000;
    white-space: nowrap;
  }

  @media(max-width: 980px) {
    margin-right: 35px;

    a {
      font-size: 18px;
    }

  }

  @media(max-width: 768px) {
    margin: 35px 0 0 0;

    a {
      white-space: nowrap;
    }

  }

  @media(max-width: 480px) {

    a {
      font-size: 13px;
    }

  }

}

.select-city {
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;

  &:before {
    content: '';
    display: block;
    width: 22px;
    height: 29px;
    background: url(../source/images/icon-geo.png) no-repeat 0 0;
    background-size: cover;
    position: absolute;
    left: -30px;
    top: -5px;

    @media(max-width: 980px) {
      width: 15px;
      height: 20px;
      top: -3px;
      left: -20px;
    }

  }

  .current-value {
    font-family: 'PF AgoraSansPro Regular', sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 1;
    position: relative;
    padding-right: 20px;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid #000;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      position: absolute;
      top: 8px;
      right: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 2px solid #c8d4e2;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      top: 8px;
      right: 3px;
    }

    @media(max-width: 980px) {
      font-size: 14px;
      padding-right: 17px;

      &:before {
        top: 6px;
      }

      &:after {
        top: 6px;
      }

    }

    @media(max-width: 480px) {
      font-size: 12px;
    }

  }

  &.active {

    .current-value {

      &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: none;
        border-bottom: 5px solid #000;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        top: 8px;
        right: 0;
      }

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: none;
        border-bottom: 2px solid #c8d4e2;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        position: absolute;
        top: 11px;
        right: 3px;
      }

      @media(max-width: 980px) {

        &:before {
          top: 5px;
        }

        &:after {
          top: 8px;
        }

      }

    }

    ul {
      display: block;
      padding: 10px 25px 20px 15px;
      position: absolute;
      top: ~"calc(100% + 20px)";
      right: 0;
      background: #000;
      z-index: 10;

      li {
        display: block;
        text-align: right;
        margin: 10px 0;
        cursor: pointer;

        span {
          color: #fff;
          white-space: nowrap;
        }

        a {
          display: none;
        }

        &:hover span,
        &.active span {
          color: #ff9900;
        }

      }

      @media(max-width: 768px) {
        top: ~"calc(100% + 10px)";
      }

    }

  }

  @media(max-width: 768px) {
    position: absolute;
    right: 0;
    top: 15px;
  }

  @media(max-width: 480px) {
    right: -5px;
  }

}

/***********************************************************************************************************************
*********** header
***********************************************************************************************************************/

header[role='banner'] {
  background: #fff;

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 39px;

    img {
      display: block;
      height: 100%;
      width: auto;
      margin-right: 10px;
    }

    span {
      font-family: 'PF AgoraSansPro Medium', sans-serif;
      font-size: 22px;
      color: #000;

      @media(max-width: 1230px) {
        font-size: 20px;
      }

      @media(max-width: 980px) {
        font-size: 16px;
        display: block;
        max-width: 230px;
      }

      @media(max-width: 768px) {
        display: none;
      }

    }

  }

  .header-buttons {
    white-space: nowrap;

    .button {
      display: inline-block;
      margin: 0 5px;

      @media(max-width: 1230px) {
        display: block;
        margin: 5px 0;
        height: 30px;
        line-height: 30px;
        padding: 0;
        text-align: center;
        width: 150px;

        span {
          height: 30px;
          line-height: 30px;
        }

      }

      @media(max-width: 480px) {
        font-size: 9px;
        width: 115px;
      }

    }

  }

}

/***********************************************************************************************************************
*********** top-block
***********************************************************************************************************************/

.top-block {

  .note {
    color: #80daff;
    font-size: 25px;
    line-height: 1;
    text-transform: uppercase;
    margin: 40px 0;

    span {
      text-shadow: 1px 1px 1px #ffffff;
      color: #0c0c0c;
      font-family: 'PF AgoraSansPro Medium', sans-serif;
      font-size: 25px;
      line-height: 1;
      text-transform: uppercase;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 46px;
        height: 44px;
        background: url(../source/images/icon-time.png) no-repeat 0 0;
        margin: 0 10px 0 15px;
      }

    }

    @media(max-width: 768px) {
      color: #28689e;
      font-size: 20px;
      margin: 20px 0;

      span {
        display: block;
        font-size: 20px;

        &:before {
          width: 32px;
          height: 30px;
          background: url(../source/images/icon-time.png) no-repeat 0 0;
          background-size: cover;
          margin-left: 0;
        }

      }

    }

  }

  .top-data {
    display: inline-block;
    vertical-align: top;
    background: rgba(0, 0, 0, .57);
    width: 340px;
    position: relative;
    .turned(-10deg);

    @media(max-width: 1366px) {
      margin-left: 100px;
    }

    @media(max-width: 768px) {
      width: 100%;
      .turned(0);
      margin: 0;
    }

  }

  .commission {
    display: inline-block;
    vertical-align: top;
    padding: 0 35px;
    margin: 0 0 0 60px;
    cursor: auto;

    span {
      line-height: 47px;
    }

    &:hover img {
      opacity: 1;
    }

    @media(max-width: 768px) {
      display: none;
    }

  }

  nav {
    display: block;
    text-align: center;
    margin: 10px 0 30px;

    a {
      display: inline-block;
      min-width: 50%;
      font-size: 16px;
      color: #fff;
      .turned(10deg);

      &:before {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        background: url(../source/images/sprite-1.png) no-repeat 0 0;
        background-size: cover;
        margin: 20px auto 10px;
        .smooth(.4s);
        position: relative;
      }

      &:nth-of-type(2):before {
        background-position: -50px 0;
      }

      &:nth-of-type(3):before {
        background-position: -100px 0;
      }

      &:nth-of-type(4):before {
        background-position: -150px 0;
      }

      &:hover {
      text-decoration: none;

      &:before {
        margin: 25px auto 5px;
      }

    }

      @media(max-width: 768px) {
        .turned(0);
        opacity: 1;
      }

    }

  }

  ul {
    background: rgba(0, 0, 0, .87);
    padding: 10px 20px 10px 35px;

    li {
      display: block;
      color: #fff;
      font-size: 17px;
      margin: 15px 0;
      .turned(10deg);

      &:nth-of-type(2) {
        padding-left: 6px;
      }
      &:nth-of-type(3) {
        padding-left: 15px;
      }

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #f24535;
        margin: 0 7px 0 0;
      }

      @media(max-width: 768px) {
        .turned(0);
        text-align: center;
      }

    }

  }

}

/***********************************************************************************************************************
*********** advantages
***********************************************************************************************************************/

.advantages-list {
  text-align: center;
  margin: 40px 0 0 0;

  .advantages-item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    margin: 45px 110px;

    .text {
      padding: 7px 15px 7px 25px;
      .turned(-10deg);

      &:first-of-type {
        display: table;
        background: #cc0000;
      }

      &:last-of-type {
        display: table;
        background: #0d0d0d;
      }

      span {
        display: inline-block;
        font-size: 17px;
        color: #fff;
        line-height: 1;
        .turned(10deg);
      }

    }

    &:before {
      content: '';
      display: block;
      width: 125px;
      height: 125px;
      background: #fff url(../source/images/sprite-2.png) no-repeat 0 0;
      background-size: cover;
      position: absolute;
      top: -30px;
      left: -110px;
      z-index: 10;
      border-radius: 50%;
    }

    &:nth-of-type(3),
    &:nth-of-type(5) {
      margin-right: 0;
    }

    &:nth-of-type(4) {
      margin-right: 60px;
    }

    &:nth-of-type(2):before {background-position: -125px 0;}
    &:nth-of-type(3):before {background-position: -250px 0;}
    &:nth-of-type(4):before {background-position: -375px 0;}
    &:nth-of-type(5):before {background-position: -500px 0;}

    &:hover:before {
      -webkit-animation-name: advantages-item-hover;
      animation-name: advantages-item-hover;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }

    @media(max-width: 1230px) {
      margin: 50px 25px 50px 125px;
    }

    @media(max-width: 768px) {
      display: block;
      margin: 75px 0 75px 125px;
    }

  }

}

@-webkit-keyframes advantages-item-hover {
  12.5% {
    background-position-y: -40px;
  }
  25% {
    background-position-y: 40px;
  }
  37.5% {
    background-position-y: -20px;
  }
  50% {
    background-position-y: 20px;
  }
  62.5% {
    background-position-y: -5px;
  }
  75% {
    background-position-y: 5px;
  }
  87.5% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}
@keyframes advantages-item-hover {
  12.5% {
    background-position-y: -40px;
  }
  25% {
    background-position-y: 40px;
  }
  37.5% {
    background-position-y: -20px;
  }
  50% {
    background-position-y: 20px;
  }
  62.5% {
    background-position-y: -5px;
  }
  75% {
    background-position-y: 5px;
  }
  87.5% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}

/***********************************************************************************************************************
*********** conditions
***********************************************************************************************************************/

.conditions-list-1 {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  counter-reset: list;

  .conditions-item {
    display: block;
    width: 33.3333%;
    white-space: nowrap;
    margin: 40px 0;
    position: relative;

    .image-wrap {
      display: inline-block;
      vertical-align: top;
      width: 160px;
      height: 160px;
      position: relative;
      overflow: hidden;
      border: 7px solid #fff;

      img {
        display: block;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background: #cb0202;
        position: absolute;
        z-index: 9;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .turned(-10deg);
        .smooth(.4s);
      }

    }

    span {
      display: inline-block;
      vertical-align: top;
      color: rgba(255, 255, 255, .7);
      font-size: 17px;
      padding: 20px;
    }

    &:before {
      display: inline-block;
      height: 20px;
      content: counter(list)'';
      counter-increment: list;
      line-height: 1;
      font-family: 'PF AgoraSansPro Regular', sans-serif;
      font-size: 20px;
      color: #fff;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 75px;
      z-index: 10;
    }

    &:after {
      content: '';
      display: block;
      width: 31px;
      height: 57px;
      background: url(../source/images/icon-arrow-white.png) no-repeat 0 0;
      position: absolute;
      left: 155px;
      bottom: 0;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      .smooth(.4s);
    }

    &:hover {

      .image-wrap:before {
        .turned(10deg)
      }

      &:after {
        left: 170px;
      }

    }

    @media(max-width: 1230px) {
      width: 45%;
      margin-left: 5%;
    }

    @media(max-width: 980px) {

      .image-wrap {
        width: 110px;
        height: 110px;
        border: 5px solid #fff;
      }

      span {
        padding: 10px 15px;
      }

      &:before {
        left: 50px;
      }

      &:after {
        left: 145px;
        bottom: -20px;
      }

    }

    @media(max-width: 360px) {
      width: 47.5%;
      margin-left: 2.5%;

      span {
        padding: 10px;
      }

      &:after {
        left: 140px;
      }

    }

  }

  @media(max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;

    .conditions-item {
      width: 300px;

      span {
        white-space: normal;
        font-size: 15px;
      }

    }

  }

}

.conditions-list-2 {
  margin: 60px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  counter-reset: list 6;
  border: 7px solid #fff;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 35px;
    background: #0a0a0c;
    position: absolute;
    left: 25px;
    right: 80px;
    top: -10px;
  }

  .conditions-item {
    display: block;
    margin: 50px 50px 0;
    width: 300px;
    font-family: 'PF AgoraSansPro Regular', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 1;
    padding-left: 90px;
    top: -60px;
    .smooth(.4s);


    &:before {
      content: counter(list)'';
      counter-increment: list;
      color: #292c2f;
      font-size: 100px;
      position: absolute;
      left: 60px;
      top: -25px;
      line-height: 1;
      z-index: -1;
    }

    &:after {
      content: '';
      display: block;
      width: 57px;
      height: 31px;
      background: url(../source/images/icon-arrow-red.png) no-repeat 0 0;
      position: absolute;
      left: 0;
      top: -8px;
      .smooth(.4s);
    }

    &:hover {
      padding-left: 75px;

      &:after {
        left: 15px;
      }

    }

  }

  @media(max-width: 1260px) {
    display: block;
    text-align: center;

    .conditions-item {
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }

  }

  @media(max-width: 980px) {

    &:before {
      display: none;
    }

    .conditions-item {
      top: 0;
      margin: 25px;
    }

  }

  @media(max-width: 480px) {


    .conditions-item {
      width: 280px;
      margin: 25px 10px;
    }

  }

}

/***********************************************************************************************************************
*********** you-need
***********************************************************************************************************************/

.you-need {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;

  .you-need-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 230px;
    margin: 35px 0 0 0;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 31px;
      height: 57px;
      background: url(../source/images/icon-arrow-white.png) no-repeat 0 0;
      position: absolute;
      top: -20px;
      right: 30px;
    }

    .your-need-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: block;
        width: ~"calc(100% - 50px)";
        font-family: 'PF AgoraSansPro Regular', sans-serif;
        font-size: 17px;
        color: #fff;
      }

      &:before {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
      }

    }

  }

  .your-equipment {
    width: 47.5%;

    .you-need-list {
      background: rgba(178, 3, 3, .87);
      padding: 15px 30px;
    }

    .your-need-item {
      width: 100%;
      background: url(../source/images/icon-ok-rose.png) no-repeat 0 0;
      margin: 15px 0;
    }

  }

  .your-qualities {
    width: 47.5%;

    .you-need-list {
      background: rgba(26, 61, 132, .87);
      padding: 20px 30px;
    }

    .your-need-item {
      width: 50%;
      background: url(../source/images/icon-ok-blue.png) no-repeat 0 0;
      margin: 10px 0;
      padding-right: 20px;
    }

    @media(max-width: 768px) {

      .you-need-list {
        display: block;
      }

      .your-need-item {
        width: 100%;
      }

    }

  }

  @media(max-width: 1230px) {
    display: block;

    .your-equipment,
    .your-qualities {
      width: 100%;
      margin: 0 0 50px 0;

      .you-need-list {
        height: auto;
      }

    }

  }

}

/***********************************************************************************************************************
*********** steps
***********************************************************************************************************************/

.steps {

  .note {
    font-family: 'PF AgoraSansPro Regular', sans-serif;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    margin: 40px 0 0 0;

    a {
      font-family: inherit;
      color: #6891e3;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }

  }

}

.steps-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin: 40px 0 0 0;

  .steps-item {
    display: inline-block;
    width: 100px;
    position: relative;
    color: #fff;
    font-size: 17px;
    font-family: 'PF AgoraSansPro Regular', sans-serif;

    a {
      display: block;
      color: #6891e3;
      font-size: inherit;
      font-family: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }

    &:before {
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      background: #fff url(../source/images/sprite-3.png) no-repeat 0 0;
      background-size: cover;
      -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, .57);
      -moz-box-shadow: 0 0 0 15px rgba(0, 0, 0, .57);
      box-shadow: 0 0 0 15px rgba(0, 0, 0, .57);
      border-radius: 50%;
      margin: 0 auto 25px;
    }

    &:nth-of-type(2):before {background-position: -80px 0;}
    &:nth-of-type(3):before {background-position: -160px 0;}
    &:nth-of-type(4):before {background-position: -240px 0;}
    &:nth-of-type(5):before {background-position: -320px 0;}
    &:nth-of-type(6):before {background-position: -400px 0;}
    &:nth-of-type(7):before {background-position: -480px 0;}

    &:after {
      content: '';
      display: block;
      width: 104px;
      height: 18px;
      background: url(../source/images/arrow-right-top.png) no-repeat 0 0;
      position: absolute;
      top: 31px;
      left: ~"calc(100% - 30px)";
    }

    &:nth-of-type(2n):after {
      background: url(../source/images/arrow-right-bottom.png) no-repeat 0 0;
    }

    &:last-of-type:after {
      display: none;
    }

  }

  @media(max-width: 980px) {
    display: block;

    .steps-item {
      margin: 30px;
      vertical-align: top;

      &:after {
        display: none;
      }

    }

  }

  @media(max-width: 480px) {

    .steps-item {
      margin: 30px 20px;
    }

  }

}

/***********************************************************************************************************************
*********** questionnaire
***********************************************************************************************************************/

.questionnaire {
  text-align: center;

  .title {
    text-align: center;
    font-size: 39px;
    font-weight: 300;
    color: #fff;
  }

  .questionnaire-item {
    padding: 30px 70px;
    border: 2px solid #1c3f85;
    margin: 50px 0;
    text-align: left;

    &.info-personal {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media(max-width: 980px) {
        display: block;
      }

    }

    @media(max-width: 768px) {
      padding: 30px;
    }

    @media(max-width: 480px) {
      padding: 30px 15px;
    }

  }

  .sub-title {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;

    &:before {
      content: '';
      display: inline-block;
      width: 35px;
      height: 35px;
      vertical-align: middle;
      margin-right: 10px;
      background: url(../source/images/icon-ok-red.png) no-repeat 0 0;
    }

  }

  fieldset {
    display: block;
    width: 100%;
    border: none;
  }

  label {
    display: block;
    margin: 30px 0;
    background: #424242;
    .turned(-10deg);

    input {
      display: block;
      width: 100%;
      height: 40px;
      background: transparent;
      .turned(10deg);
      border: none;
      padding: 0 20px;
      color: #fff;
    }

    &.label-date {
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 19px;
        height: 21px;
        background: url(../source/images/icon-calendar.png) no-repeat 0 0;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 15px;
        .turned(10deg);
      }

      input {
        padding: 0 50px 0 20px;
      }

    }

  }

  .info-driver {
    width: 45%;

    @media(max-width: 980px) {
      width: 100%;
    }

  }

  .select-form {
    display: block;
    margin: 30px 0;
    background: #424242;
    .turned(-10deg);
    position: relative;

    .current-value {
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0 35px 0 20px;
      color: #fff;
      position: relative;
      .turned(10deg);

      &:before {
        content: '';
        display: block;
        width: 14px;
        height: 13px;
        background: url(../source/images/icon-triangle.png) no-repeat 0 0;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 10px;
      }

    }

    .hidden-field {
      display: none;
    }

    &.active {

      .current-value {

        &:before {
          transform: rotate(180deg);
        }

      }

      ul {
        padding: 0 45px 10px 20px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #424242;
        z-index: 10;

        li {
          display: block;
          margin-bottom: 10px;
          color: #fff;
          font-size: 15px;
          cursor: pointer;
          .turned(10deg);

          &:hover,
          &.active {
            color: #b10202;
          }

        }

      }

    }

  }

  .info-car {
    .clearfix();
    position: relative;

    @media(max-width: 980px) {
      padding-bottom: 55px;
    }

    label {
      width: 22%;
      margin: 15px 4% 15px 0;
      float: left;

      &:nth-of-type(4) {
        margin-right: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      @media(max-width: 980px) {
        width: 100%;
        margin: 15px 0;
      }

    }

    .custom-select {
      width: 22%;
      margin: 15px 4% 15px 0;
      float: left;

      @media(max-width: 980px) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 49%;
        margin: 0;

        &:last-of-type {
          left: auto;
          right: 0;
        }

      }

    }

  }

  .info-documentation {
    .clearfix();

    .field-upload {
      width: 48%;
      margin: 15px 4% 15px 0;
      float: left;
      position: relative;
      background: #424242;
      .turned(-10deg);

      .text {
        display: block;
        width: ~"calc(100% - 95px)";
        height: 40px;
        line-height: 40px;
        padding: 0 0 0 20px;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .turned(10deg);

        @media(max-width: 420px) {
          width: 176px;
        }

      }

      label {
        margin: auto;
        width: 80px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 6px;
        background: url(../source/images/background-button-blue.png) no-repeat center;
        background-size: cover;
        text-align: center;
        cursor: pointer;

        span {
          display: block;
          height: 30px;
          line-height: 30px;
          color: #fff;
          text-transform: uppercase;
          .turned(10deg);
        }

        input {
          display: block;
          width: 0;
          height: 0;
          opacity: 0;
        }

      }

      &:nth-of-type(2n),
      &:last-of-type {
        margin: 15px 0;
      }

      &:nth-of-type(5) {
        width: 28%;
        margin: 15px 2% 15px 0;
      }

      &:nth-of-type(6) {
        width: 18%;
        margin: 15px 4% 15px 0;
      }

      @media(max-width: 980px) {
        width: 100%;
        margin: 15px 0;

        &:nth-of-type(5),
        &:nth-of-type(6) {
          width: 100%;
          margin: 15px 0;
        }

      }

    }

  }

  .info-other {
    .clearfix();

    .select-options,
    .additional-options {
      width: 48%;
      float: left;
      margin: 30px 0;
    }

    .additional-options {
      float: right;
    }

  }

  .select-options {
    position: relative;

    .current-value {
      width: 100%;
      height: 40px;
      padding: 0 35px 0 20px;
      position: relative;
      .turned(-10deg);
      cursor: pointer;
      background: #424242;

      span {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: #fff;
        .turned(10deg);
      }

      &:before {
        content: '';
        display: block;
        width: 14px;
        height: 13px;
        background: url(../source/images/icon-triangle.png) no-repeat 0 0;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 10px;
        .turned(10deg);
      }

    }

    ul {
      display: none;
      .turned(-10deg);
    }

    &.active {

      .current-value {

        &:before {
          transform: rotate(180deg) skew(10deg);
        }

      }

      ul {
        display: block;
        padding: 0 45px 10px 20px;
        position: absolute;
        left: -19px;
        right: 19px;
        top: 100%;
        background: #424242;
        z-index: 10;

        li {
          display: block;
          margin-bottom: 10px;
          color: #fff;
          font-size: 15px;
          cursor: pointer;
          .turned(10deg);

          &:hover,
          &.active {
            color: #b10202;
          }

        }

      }

    }

    @media(max-width: 980px) {
      width: 100%!important;
      margin: 15px 0;
    }

  }

  .additional-options {
    display: block;
    width: 100%;
    text-align: left;
    min-height: 26px;

    .option-item {
      display: inline-block;
      vertical-align: top;
      height: 26px;
      background: #000;
      color: #fff;
      line-height: 26px;
      padding: 0 30px 0 15px;
      border-radius: 13px;
      font-size: 11px;
      text-transform: uppercase;
      position: relative;
      margin-right: 10px;
      margin-bottom: 10px;
      .clearfix();

      .option-close {
        display: block;
        width: 10px;
        height: 10px;
        background: #000;
        position: absolute;
        top: 6px;
        right: 7px;
        cursor: pointer;

        &:before {
          content: '';
          display: block;
          width: 10px;
          height: 1px;
          background: #bb1010;
          position: absolute;
          left: 1px;
          top: 7px;
          -webkit-transform-origin: center;
          -moz-transform-origin: center;
          -ms-transform-origin: center;
          -o-transform-origin: center;
          transform-origin: center;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:after {
          content: '';
          display: block;
          width: 10px;
          height: 1px;
          background: #bb1010;
          position: absolute;
          left: 1px;
          top: 7px;
          -webkit-transform-origin: center;
          -moz-transform-origin: center;
          -ms-transform-origin: center;
          -o-transform-origin: center;
          transform-origin: center;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:hover {

          &:before, &:after {
            background: #dd9a38;
          }
        }

      }

    }

    @media(max-width: 980px) {
      width: 100%!important;
      margin: 15px 0;
    }

  }

  .submit-form {
    display: inline-block;
    width: auto;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 31px;
      height: 57px;
      background: url(../source/images/icon-arrow-white.png) no-repeat 0 0;
      position: absolute;
      left: ~"calc(100% - 5px)";
      top: 0;
      -webkit-transform: rotate(-90deg) perspective(1px) translateZ(0);
      -moz-transform: rotate(-90deg) perspective(1px) translateZ(0);
      -ms-transform: rotate(-90deg) perspective(1px) translateZ(0);
      -o-transform: rotate(-90deg) perspective(1px) translateZ(0);
      transform: rotate(-90deg) perspective(1px) translateZ(0);
    }

    &:hover:after,
    &:focus:after,
    &:active:after {
      -webkit-animation-name: hvr-wobble-horizontal;
      animation-name: hvr-wobble-horizontal;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }

  }

  .button {
    height: 60px;
    line-height: 60px;
    font-size: 17px;
    padding: 0 35px;
    position: relative;

    img {
      display: block;
      margin: 0;
    }

    &:hover img {
      opacity: 1;
    }

  }

}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: rotate(-90deg) translateY(8px);
    transform: rotate(-90deg) translateY(8px);
  }
  33.3% {
    -webkit-transform: rotate(-90deg) translateY(-6px);
    transform: rotate(-90deg) translateY(-6px);
  }
  49.95% {
    -webkit-transform: rotate(-90deg) translateY(4px);
    transform: rotate(-90deg) translateY(4px);
  }
  66.6% {
    -webkit-transform: rotate(-90deg) translateY(-2px);
    transform: rotate(-90deg) translateY(-2px);
  }
  83.25% {
    -webkit-transform: rotate(-90deg) translateY(1px);
    transform: rotate(-90deg) translateY(1px);
  }
  100% {
    -webkit-transform: rotate(-90deg) translateY(0);
    transform: rotate(-90deg) translateY(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: rotate(-90deg) translateY(8px);
    transform: rotate(-90deg) translateY(8px);
  }
  33.3% {
    -webkit-transform: rotate(-90deg) translateY(-6px);
    transform: rotate(-90deg) translateY(-6px);
  }
  49.95% {
    -webkit-transform: rotate(-90deg) translateY(4px);
    transform: rotate(-90deg) translateY(4px);
  }
  66.6% {
    -webkit-transform: rotate(-90deg) translateY(-2px);
    transform: rotate(-90deg) translateY(-2px);
  }
  83.25% {
    -webkit-transform: rotate(-90deg) translateY(1px);
    transform: rotate(-90deg) translateY(1px);
  }
  100% {
    -webkit-transform: rotate(-90deg) translateY(0);
    transform: rotate(-90deg) translateY(0);
  }
}


/***********************************************************************************************************************
*********** about-us
***********************************************************************************************************************/

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    text-align: left;
    line-height: 1;
    margin: 0 0 25px 0;
  }

}

.video-block {
  display: block;
  width: 46%;
  max-width: 570px;

  .image-wrap {
    display: block;
    border: 20px solid #fff;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      margin: 0;
      height: 100%;
      width: auto;
    }

    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      background: #1e438d;
      border: 8px solid #fff;
      -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, .57);
      -moz-box-shadow: 0 0 0 20px rgba(0, 0, 0, .57);
      box-shadow: 0 0 0 20px rgba(0, 0, 0, .57);
      border-radius: 50%;
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      .smooth(.6s);
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 20px solid #fff;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      position: absolute;
      margin: auto;
      left: ~"calc(50% - 7px)";
      top: 0;
      bottom: 0;
      .smooth(.4s);
    }

    &:hover {

      &:before {
        -webkit-box-shadow: 0 0 0 500px rgba(0, 0, 0, .57);
        -moz-box-shadow: 0 0 0 500px rgba(0, 0, 0, .57);
        box-shadow: 0 0 0 500px rgba(0, 0, 0, .57);
      }

      &:after {
        border-left: 30px solid #fff;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        left: ~"calc(50% - 10px)";
      }

    }

  }

  .note {
    position: relative;
    bottom: 20px;
    text-align: center;
    font-size: 0;

    .text {
      display: inline-block;
      .turned(-10deg);

      &:first-of-type {background: #cb0202;}
      &:last-of-type {background: #151515;}

    }

    span {
      display: block;
      .turned(10deg);
      font-family: 'PF AgoraSansPro Regular', sans-serif;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      line-height: 1;
      padding: 15px 20px;

      @media(max-width: 480px) {
        font-size: 12px;
      }

    }

  }

}

.why-we {
  display: block;
  width: 46%;

  .why-we-list {
    display: block;

    .why-we-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0;

      &:before {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        background: url(../source/images/icon-ok-red.png) no-repeat 0 0;
      }

      span {
        display: block;
        width: ~"calc(100% - 50px)";
        font-family: 'PF AgoraSansPro Regular', sans-serif;
        font-size: 17px;
        color: #fff;
      }

    }

  }

  .text {
    padding-left: 50px;
    margin: 25px 0;
    color: #6891e3;
    font-size: 21px;
    font-family: 'PF AgoraSansPro Regular', sans-serif;
    text-transform: uppercase;

    a {
      font-size: inherit;
      font-family: 'PF AgoraSansPro Regular', sans-serif;
    }

    @media(max-width: 480px) {
      font-size: 18px;
      padding-left: 0;

      a {
        font-size: 18px;
      }

    }

  }

  > span {
    display: inline-block;
    margin: 0 20px 0 50px;
    font-size: 23px;
    color: #fff;

    @media(max-width: 480px) {
      font-size: 16px;
      margin: 0 20px 0 0;
    }

  }

  .button {
    display: inline-block;
    background: #1e438d;

    @media(max-width: 480px) {
      padding: 0 15px;
      height: 35px;
      line-height: 35px;
    }

  }

}

@media(max-width: 980px) {

  .about-us {
    display: block;
    text-align: center;
  }

  .video-block {
    width: 100%;
    margin: 0 auto;

    h2 {
      text-align: center;
    }

  }

  .why-we {
    width: 100%;
    text-align: left;
    padding: 30px 20px;
  }

}

/***********************************************************************************************************************
*********** promo-text
***********************************************************************************************************************/

.promo-text {
  padding: 10px 0 40px;

  h3 {
    font-size: 30px;
    color: #6891e3;
    margin: 30px 0 20px;
  }

  p {
    font-size: 17px;
    color: #fff;
  }

  @media (max-width: 1260px) {

    padding: 0 30px;

  }

  @media (max-width: 768px) {

    padding: 0 20px;

  }

}

/***********************************************************************************************************************
*********** footer
***********************************************************************************************************************/

footer[role='contentinfo'] {
  background: #c8d4e2;
  padding: 15px 0;

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 480px) {
      display: block;
    }

  }

  .logo {
    display: block;
    height: 39px;
    position: relative;
    padding-left: 60px;

    img {
      display: block;
      height: 100%;
      width: auto;
      position: absolute;
      left: 0;
      top: 0;
    }

    span {
      font-family: 'PF AgoraSansPro Regular', sans-serif;
      color: #000;
      display: block;
    }

  }

  .select-city ul {
    top: auto;
    bottom: ~"calc(100% + 20px)";
    padding: 10px 25px 20px 15px;
  }

  @media(max-width: 480px) {

    .location-phone {
      display: inline-block;
      margin: 20px 0 0 20px;
      padding: 0;

      .select-city {
        right: auto;
        left: 0;

        &.active {

          ul {
            right: auto;
            left: -30px;
            bottom: ~"calc(100% + 15px)";
            padding: 10px 25px 10px 15px;

            li {
              text-align: left;
            }

          }

        }

      }

      .link-phone {
        text-align: left;
        right: auto;
        left: -15px;
      }

    }

  }

}

/***********************************************************************************************************************
*********** window
***********************************************************************************************************************/

.window {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .7p);
  z-index: 1001;

  .window-inner {
    display: block;
    width: 320px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 100px;
    background: #fff;
    padding: 40px 25px 25px 25px;
    .turned(-10deg);

    @media(max-width: 768px) {
      top: 50px;
    }

    @media(max-width: 480px) {
      .turned(0);
    }

  }

  .close-window {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff url(../source/images/close-black.png) no-repeat center;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 25px;
    cursor: pointer;
    .turned(10deg);

    &:hover {
      background: #000 url(../source/images/close-white.png) no-repeat center;
      .smooth(.4s);
    }

    @media(max-width: 480px) {
      .turned(0);
    }

  }

  label {
    display: block;
    width: 100%;
    margin: 20px 0;
    border: 1px solid #999999;
    padding: 0 15px;
  }

  input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: none;
    .turned(10deg);

    @media(max-width: 480px) {
      .turned(0);
    }

  }

  textarea {
    display: block;
    width: 100%;
    height: 150px;
    padding: 15px 15px;
    border: none;
    resize: none;
    .turned(10deg);

    @media(max-width: 480px) {
      .turned(0);
    }

  }

  input::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
  }

  input::-moz-placeholder {
    color: #999;
    opacity: 1;
  }

  input:-moz-placeholder {
    color: #999;
    opacity: 1;
  }

  input:-ms-input-placeholder {
    color: #999;
    opacity: 1;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus::-moz-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }

  input:focus:-ms-input-placeholder {
    color: transparent;
  }

  textarea::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
  }

  textarea::-moz-placeholder {
    color: #999;
    font-size: 14px;
  }

  textarea:-moz-placeholder {
    color: #999;
    font-size: 14px;
  }

  textarea:-ms-input-placeholder {
    color: #999;
    font-size: 14px;
  }

  textarea:focus::-webkit-input-placeholder {
    color: transparent;
  }

  textarea:focus::-moz-placeholder {
    color: transparent;
  }

  textarea:focus:-moz-placeholder {
    color: transparent;
  }

  textarea:focus:-ms-input-placeholder {
    color: transparent;
  }


  &.window-callback button {
    width: 100%;
    text-transform: uppercase;
    .turned(-1deg);

    span {

      @media(max-width: 480px) {
        .turned(0);
      }

    }

    @media(max-width: 480px) {
      .turned(0);
    }

  }

  &.window-question button {
    width: 100%;
    text-transform: uppercase;
    .turned(-1deg);

    span {

      @media(max-width: 480px) {
        .turned(0);
      }

    }

    @media(max-width: 480px) {
      .turned(0);
    }

  }

}